<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <footer>
        <!--This means this view is optional-->
        @RenderSection("footer", required: false)
        <!--await Component.InvokeAsync("Greeter")-->
        <!--The above isn't very pretty, can use custom Tag Helpers instead-->
        <vc:greeter></vc:greeter>
    </footer>
</body>
</html>
